---
import Base from '@layouts/Base.astro'
import type { GetStaticPaths } from 'astro'
import { getCollection } from 'astro:content'

// Reveal.js
import 'reveal.js/dist/reveal.css'
import 'reveal.js/dist/theme/black.css'
import 'reveal.js/plugin/highlight/monokai.css'

export const getStaticPaths = (async () => {
  // Get all courses from src/content/courses/
  let courses = await getCollection('courses')

  // Get all slides from src/content/slides/
  let slides = await getCollection('slides')

  // Group slides by course
  let slidesByCourse = Object.fromEntries(courses.map(course => [course.id, slides.filter(slide => slide.id.startsWith(course.id))]))

  // Group slides by year
  let slidesByYear = Object.fromEntries(
    Object.entries(slidesByCourse).map(([courseId, slides]) => [
      courseId,
      slides.reduce(
        (acc, slide) => {
          const year = slide.data.date.getFullYear()
          if (!acc[year]) {
            acc[year] = []
          }
          acc[year].push(slide)
          return acc
        },
        {} as Record<number, (typeof slides)[number][]>,
      ),
    ]),
  )

  // Convert slide data to static path data
  return Object.entries(slidesByYear).flatMap(([courseId, slides]) =>
    Object.entries(slides).flatMap(([year, slides]) =>
      slides.map(slide => ({
        params: {
          course: courseId,
          year: year,
          slug: slide.slug.split('/').at(-1),
        },
        props: {
          content: slide.body,
          title: slide.data.title,
        },
      })),
    ),
  )
}) satisfies GetStaticPaths

const {
  props: { content, title },
} = Astro
---

<script>
  // @ts-expect-error no declaration file
  import Reveal from 'reveal.js'
  // @ts-expect-error no declaration file
  import RevealMarkdown from 'reveal.js/plugin/markdown/markdown'
  // @ts-expect-error no declaration file
  import RevealNotes from 'reveal.js/plugin/notes/notes'
  // @ts-expect-error no declaration file
  import RevealHighlight from 'reveal.js/plugin/highlight/highlight'
  new Reveal().initialize({
    plugins: [RevealMarkdown, RevealNotes, RevealHighlight],
  })
</script>

<Base title={title}>
  <div class="reveal">
    <div class="slides">
      <section data-markdown data-separator-vertical="-{2}\n\n">
        <textarea data-template>{content}</textarea>
      </section>
    </div>
  </div>
</Base>
