---
import Simple from '@layouts/Simple.astro'
import { getCollection } from 'astro:content'

// Get all classes from src/content/classes/
const classes = await getCollection('classes')

// Sort by start date
const sortedClasses = classes.toSorted((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
---

<Simple title="Rylan Schubkegel | HCC">
  <blockquote>
    <p>And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love: these are what we stay alive for.</p>
    <p><cite>Tom Schulman, Dead Poets Society</cite></p>
  </blockquote>
  <p>Each class page will be updated with lectures, assignments, and other resources throughout the semester so make sure to bookmark the page as you will be returning there often!</p>
  <table>
    <thead>
      <tr>
        <th>Academic Year</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      {
        sortedClasses.map(_class => (
          <tr>
            <td>{_class.data.startDate.getFullYear()}</td>
            <td>
              <a href={`/${_class.id}`}>{_class.data.name}</a>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Simple>
