---
import Simple from '@layouts/Simple.astro'
---

<Simple title="Rylan Schubkegel | HCC">
  <blockquote>
    <p>And medicine, law, business, engineering, these are noble pursuits and necessary to sustain life. But poetry, beauty, romance, love: these are what we stay alive for.</p>
    <p><cite>Tom Schulman, Dead Poets Society</cite></p>
  </blockquote>
  <p>Each class page will be updated with lectures, assignments, and other resources throughout the semester so make sure to bookmark the page as you will be returning there often!</p>
  <table>
    <thead>
      <tr>
        <th>Year / Semester</th>
        <th>Class</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2026 Fall</td>
        <td><a href="/2026/fall/computer-science">Computer Science</a></td>
      </tr>
      <tr>
        <td>2024 Fall</td>
        <td><a href="/2024/fall/computer-science">Computer Science</a></td>
      </tr>
    </tbody>
  </table>
</Simple>
