---
import Simple from '@layouts/Simple.astro'
import { getCollection } from 'astro:content'

interface InnerProps {
  title?: string;
  year?: string;
  course?: string;
}
interface Props extends InnerProps {
  frontmatter?: InnerProps;
}

const { title: _title, year, course: courseId, frontmatter } = Astro.props

const _courseId = frontmatter?.course ?? courseId
const _year = frontmatter?.year ?? year

let courses = await getCollection('courses')
const course = courses.find(course => course.id === _courseId)

const title = _title ?? frontmatter?.title ?? `${course?.data.name} | ${_year}`
---

<Simple title={title}>
  <Fragment slot="header">
    <header>
      <h1>{ course?.data.name ?? 'Unknown Course' }</h1>
      <div>
        { _year }
        |
        <a href="/">Instructor Page</a>
        |
        <a href="https://hillcreekchristian.org/" target="_blank">HCC</a>
      </div>
      <nav hidden>
        <a href={`/${_courseId}`}>Home</a>
      </nav>
    </header>
  </Fragment>
  <slot />
</Simple>
