---
import Simple from '@layouts/Simple.astro'
import { getCollection } from 'astro:content'

interface InnerProps {
  title?: string;
  class?: string;
}
interface Props extends InnerProps {
  frontmatter?: InnerProps;
}

const { title: _title, class: classId, frontmatter } = Astro.props

const _classId = frontmatter?.class ?? classId

let classes = await getCollection('classes')
const _class = classes.find(_class => _class.id === _classId)
const _year = _class?.data.startDate.getFullYear()

const title = _title ?? frontmatter?.title ?? `${_class?.data.name} | ${_year}`
---

<Simple title={title}>
  <Fragment slot="header">
    <header>
      <h1>{ _class?.data.name ?? 'Unknown Class' }</h1>
      <div>
        { _year }
        |
        <a href="/">Instructor Page</a>
        |
        <a href="https://hillcreekchristian.org/" target="_blank">HCC</a>
      </div>
      <nav hidden>
        <a href={`/${_classId}`}>Home</a>
      </nav>
    </header>
  </Fragment>
  <slot />
</Simple>
