---
import Simple from '@layouts/Simple.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { DateTime } from 'luxon';

export const getStaticPaths = (async () => {
  // Get all courses from src/content/courses/
  let courses = await getCollection('courses')

  // Get all assignments from src/content/assignments/
  let assignments = await getCollection('assignments');

  // Group assignments by course
  let assignmentsByCourse = Object.fromEntries(courses.map(course => [course.id, assignments.filter(assignment => assignment.id.startsWith(course.id))]))

  // Group assignments and year
  let assignmentsByCourseAndYear = Object.fromEntries(
    Object.entries(assignmentsByCourse).map(([courseId, assignments]) => [
      courseId,
      assignments.reduce(
        (acc, assignment) => {
          const year = assignment.data.date.getFullYear()
          if (!acc[year]) {
            acc[year] = []
          }
          acc[year].push(assignment)
          return acc
        },
        {} as Record<number, (typeof assignments)[number][]>,
      ),
    ]),
  )
  
  // Convert assignment data to static path data
  return Object.entries(assignmentsByCourseAndYear).flatMap(([courseId, assignments]) =>
    Object.entries(assignments).flatMap(([year, assignments]) =>
      assignments.map(assignment => ({
        params: {
          course: courseId,
          year: year,
          slug: assignment.slug.split('/').at(-1),
        },
        props: {
          data: assignment.data,
          render: assignment.render,
        },
      })),
    ),
  );
}) satisfies GetStaticPaths;
const { params: { course, year }, props: { data, render } } = Astro;
const { Content } = await render();
const dueDate = data.due ? DateTime.fromJSDate(data.due, { zone: 'America/Los_Angeles' }) : undefined;
---

<Simple title={ data.title || `Assignment: ${ data.name }` }>
  <p>
    ← <a href={`/${course}/${year}`}>Course Homepage</a>
  </p>
  <h1>{ data.name }</h1>
  {dueDate && (
    <p>
      <mark>Due { dueDate.month }/{ dueDate.day } at 11:59</mark>
    </p>
  )}
  <Content />
</Simple>